{% extends 'base.html.twig' %}

{% block title %}Creation de compte{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <p>{{ message }}</p>
    {% endfor %}
    <form method="post">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        {{ form_start(userForm) }}

            {{ form_row(userForm.email) }}
            {{ form_row(userForm.password) }}
            {# {{ form_row(userForm.roles) }} #}

            <input type="submit" value="Créer un compte">

        {{ form_end(userForm) }}
    </form>
{% endblock %}
